html, body { 
	position: relative;
	background-color: #D3D3D3;
}

h1 {
	margin: 0;
	padding: 10px;
	font-family: 'Audiowide', cursive;
	font-size: 48px;
}

h2 {
	font-family: 'Bitter', serif;
	font-size: 36px;
	color: blue;
}

a {
	margin: 0;
	padding: 5px;
	position: relative;
}

a:link {
	color: red;
}

a:visited {
	color: blue;
}

a:hover {
	color: green;
}

a:active {
	color: orange;
}

/* Content class to size/format changing content on each page */
.content {
	position: relative;
/*	margin-left: 30px;  Deprecated to avoid overlapping issue with footer */
	clear: both;
}

.typed {
	width: 80%;
	margin-left: 30px;
	font-family: 'Times New Roman';
	font-size: 20px;
	clear:both;
}

/* Section for formatting the index.html testimony table */
.homeTable {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.homeTable td {
	text-align: center;
}

/* Section for formatting the About.html table of corporate big-wigs */
.aboutTable {
	width: 50%;
	border-spacing: 2px;
	border-collapse: collapse;
}

.aboutTable th, td {
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

/* Section for formatting the Contact.html table of social media handles */
.contactUsTable {
	width: 50%;
	border: 0 none;
}

.contactUsTable td {
	text-align: left;
	border: 0 none;
}

/* Section for Services.html page formatting */
.columned {
	column-count: 2;
	column-width: auto;
}

q {
	font-style: italic;
}

.videoContent {
	margin-left: 30px;
	position: relative;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-left: 30px;
	font-size: 16px;
}


/* Section for tweaking the gallery positioning on the gallery.html page */

.mediaContent {
	margin-left: 20px;
}

div.gallery {
	margin: 10px;
	border: 1px solid #ccc;
	float: left;
	width: 240px;
}

div.gallery img{
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}


